:root {
  --main-bg-color: brown;
}

body {
    margin: 0;
    background-color: #000;
    position: relative;
}

#container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title {
    background: url('title.png');
    width: 745px;
    height: 200px;
    background-size: cover;
    margin: -130px auto 0;
}

#board {
    width: 621px;
    height: 621px;
    margin: -20px auto 0;
}

#board .row {
    width: 100%;
    float: left;
}

#board .row:last-child div {
    border-bottom: 1px solid #f0f;
}

.row div:last-child {
    border-right: 1px solid #f0f;
}

.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 1px solid #f0f;
    border-top: 1px solid #f0f;
    cursor: pointer;
}

.square:hover{
    background-color: #f0f4;
}

.orange {
    background-color: #fa0;
}

.orange:hover {
    background-color: #fa0;
    cursor: unset;
}

.green {
    background-color: #0f1;
}

.green:hover {
    background-color: #0f1;
    cursor: unset;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #f0f;
    font-family: monospace;
}

#footer a {
    color: #f0f;
    margin-right: 30px;
}

.left {
    display: inline-block;
    float: left;
}

.right {
    display: inline-block;
    float: right;
}
